:root {
  /* THEME ONE */

  --clr-body-theme1: hsl(222, 26%, 31%);
  --clr-toggle-keypad-theme1: hsl(223, 31%, 20%);
  --clr-screen-theme1: hsl(224, 36%, 15%);

  --clr-key-theme1: hsl(225, 21%, 49%);
  --clr-key-shadow-theme1: hsl(224, 28%, 35%);

  --clr-key-toggle-theme1: hsl(6, 63%, 50%);
  --clr-key-shadow-2-theme1: hsl(6, 70%, 34%);

  --clr-text-theme1: hsl(221, 14%, 31%);

  /* THEME TWO */
  --clr-body-theme2: hsl(0, 0%, 90%);
  --clr-toggle-keypad-theme2: hsl(0, 5%, 81%);
  --clr-screen-theme2: hsl(0, 0%, 93%);

  --clr-key-theme2: hsl(185, 42%, 37%);
  --clr-key-shadow-theme2: hsl(185, 58%, 25%);

  --clr-key-toggle-theme2: hsl(25, 98%, 40%);
  --clr-key-shadow-2-theme2: hsl(25, 99%, 27%);

  --clr-text-theme2: hsl(60, 10%, 19%);

  /* THEME THREE */
  --clr-body-theme3: hsl(268, 75%, 9%);
  --clr-toggle-keypad-theme3: hsl(268, 71%, 12%);
  --clr-screen-theme3: hsl(268, 71%, 12%);

  --clr-key-theme3: hsl(281, 89%, 26%);
  --clr-key-shadow-theme3: hsl(285, 91%, 52%);

  --clr-key-background-2-theme3: hsl(176, 100%, 44%);
  --clr-key-toggle-theme3: hsl(176, 100%, 44%);
  --clr-key-shadow-2-theme3: hsl(177, 92%, 70%);

  --clr-key-background-3-theme3: hsl(268, 47%, 21%);
  --clr-key-shadow-3-theme3: hsl(290, 70%, 36%);

  --clr-text-theme3: hsl(52, 100%, 62%);
  --clr-text-2-theme3: hsl(198, 20%, 13%);

  --clr-white-theme3: hsl(0, 0%, 100%);
}

*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-body-theme1);
}

.calculator {
  background-color: beige;
  max-width: 350px;
  padding: 20px;
  margin-inline: 2rem;
}

.calculator__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme {
  display: flex;
  align-items: center;
  gap: 20px;
}

.theme h2 {
  font-size: 13px;
}

.toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  transform: translateY(-40%);
}

.labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
}

.labels p {
  cursor: pointer;
}

.radios {
  height: 30px;
  width: 90px;
  position: relative;
  background-color: var(--clr-toggle-keypad-theme1);
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  gap: 18px;
}

.radios > * {
  position: absolute;
}

input[type="radio"]:first-of-type {
  top: 7px;
  left: 15px;
}

input[type="radio"]:nth-of-type(2) {
  top: 7px;
  left: 40px;
}

input[type="radio"]:last-of-type {
  top: 7px;
  left: 67px;
}

.ball {
  position: absolute;
  top: 2px;
  left: 5px;
  background-color: var(--clr-key-toggle-theme1);
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

input[type="radio"] {
  appearance: none;
  width: 30px;
  height: 30px;
  outline: 1px solid;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
}

.calculator__screen {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 60px;
  background-color: var(--clr-screen-theme1);
  margin-bottom: 20px;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 24px;
  padding-inline-end: 20px;
  overflow-x: hidden;
}

.calculator__buttons {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: repeat(5, 50px);
}

.calculator__buttons .reset {
  grid-column: 1/3;
}

.calculator__buttons .equal-symbol {
  grid-column: 3/5;
}
