/* THEME ONE */

body {
  --clr-body: hsl(222, 26%, 31%);
  --clr-toggle-keypad: hsl(223, 31%, 20%);
  --clr-screen: hsl(224, 36%, 15%);

  --clr-key: hsl(225, 21%, 49%);
  --clr-key-shadow: hsl(224, 28%, 35%);

  --clr-key-toggle: hsl(6, 63%, 50%);
  --clr-key-shadow-2: hsl(6, 70%, 34%);

  --clr-text: hsl(221, 14%, 31%);

  --clr-white: hsl(0, 0%, 100%);
}

body.theme2 {
  --clr-body: hsl(0, 0%, 90%);
  --clr-toggle-keypad: hsl(0, 5%, 81%);
  --clr-screen: hsl(0, 0%, 93%);

  --clr-key: hsl(185, 42%, 37%);
  --clr-key-shadow: hsl(185, 58%, 25%);

  --clr-key-toggle: hsl(25, 98%, 40%);
  --clr-key-shadow-2: hsl(25, 99%, 27%);

  --clr-text: hsl(60, 10%, 19%);
}

body.theme3 {
  --clr-body: hsl(268, 75%, 9%);
  --clr-toggle-keypad: hsl(268, 71%, 12%);
  --clr-screen: hsl(268, 71%, 12%);

  --clr-key: hsl(281, 89%, 26%);
  --clr-key-shadow: hsl(285, 91%, 52%);

  --clr-key-background-2: hsl(176, 100%, 44%);
  --clr-key-toggle: hsl(176, 100%, 44%);
  --clr-key-shadow-2: hsl(177, 92%, 70%);

  --clr-key-background-3: hsl(268, 47%, 21%);
  --clr-key-shadow-3: hsl(290, 70%, 36%);

  --clr-text: hsl(52, 100%, 62%);
  --clr-text-2: hsl(198, 20%, 13%);
}
*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  font-family: "League Spartan", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-body);
  color: var(--clr-text);
}
body:not(body.theme2, body.theme3) {
  color: var(--clr-white);
}

.calculator {
  background-color: var(--clr-body);
  max-width: 450px;
  padding: 20px;
  margin-inline: 2rem;
}

.calculator__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calculator__head h1 {
  font-size: 24px;
  font-weight: 700;
}

.theme {
  display: flex;
  align-items: center;
  gap: 20px;
}

.theme h2 {
  font-size: 13px;
}

.toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  transform: translateY(-25%);
}

.labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
}

.labels p {
  cursor: pointer;
}

.radios {
  height: 30px;
  width: 90px;
  position: relative;
  background-color: var(--clr-toggle-keypad);
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  gap: 18px;
}

.radios > * {
  position: absolute;
}

input[type="radio"]:first-of-type {
  top: 7px;
  left: 15px;
}

input[type="radio"]:nth-of-type(2) {
  top: 7px;
  left: 40px;
}

input[type="radio"]:last-of-type {
  top: 7px;
  left: 67px;
}

.ball {
  position: absolute;
  top: 2px;
  left: 5px;
  background-color: var(--clr-key-toggle);
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

input[type="radio"] {
  cursor: pointer;
  opacity: 0;
}

.calculator__screen {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 60px;
  background-color: var(--clr-screen);
  margin-bottom: 20px;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 24px;
  padding-inline-end: 20px;
  overflow-x: hidden;
}

.calculator__buttons {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  gap: 12px;
  grid-template-rows: repeat(5, 50px);
  background-color: var(--clr-screen);
  padding: 20px;
}

.calculator__buttons button {
  font-size: 32px;
  font-weight: 700;
  color: var(--clr-text);
  background-color: var(--clr-key);
  border: 0;
  border-radius: 5px;
  box-shadow: 0 3px 2px var(--clr-key-shadow);
}

body:not(body.theme3) .calculator__buttons button {
  background-color: var(--clr-white);
}

.calculator__buttons .reset {
  grid-column: 1/3;
}

.calculator__buttons .equal-symbol {
  grid-column: 3/5;
}
